@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* 
====== Body & Container ======
*/
* {
    margin: 0 0;
    padding: 0 0;
}
html, body {
    overflow-x: hidden;
}
.header-text {
    margin: 0 0 14px;
    font-size: 32px;
    color: rgb(128, 167, 240);
    font-family: 'Open Sans';
}
@media (max-width: 768px) {
    .header-text {
        font-size: 28px;
    }   
}
@media (max-width: 480px) {
    .header-text {
        font-size: 24px;
    }   
}
/* 
=== Waves ===
*/
.header-waves {
    margin: -250px 0 10px;
    transform: scaleX(-1);
}
.footer-waves {
    transform: scaleX(-1);
}



/* 
====== Header Section ======
*/
#header {
    position: relative;

    padding: 200px 50px;
    box-sizing: border-box;
    width: 100%;
    height: max-content;

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/kano-new-edited.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}
#header h1 {
    margin: 10px 0;
    font-size: 68px;
    color: white;
    font-weight: 400;
    letter-spacing: 3px;
    text-shadow: 1px 2px black;
}
#header p {
    font-family: 'Poppins';
    font-size: 16px;
    color: rgb(150, 150, 150);
}
@media (max-width: 768px) {
    #header {
        background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url('images/kano-new-edited-c.jpg');
    }
    #header h1 {
        font-size: 56px;
        letter-spacing: 1px;
    }
    #header p {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    #header {
        padding: 150px 30px 150px;
    }
    #header h1 {
        font-size: 38px;
    }
    #header p {
        font-size: 14px;
    }
}



/* 
====== About Section ======
*/
#about, #attract, #facility, #gallery, #location {
    padding: 60px 50px 0;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
}
#about p, #attract p, #facility p {
    font-family: 'Poppins';
    font-size: 18px;
    color: rgb(100, 100, 100);
}
@media (max-width: 768px) {
    #about, #attract, #facility, #gallery, #location {
        padding: 60px 30px 0;
    }
    #about p, #attract p, #facility p {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    #about p, #attract p, #facility p {
        font-size: 15px;
    }
}


/* 
====== Attract Section ======
*/
.cards-list {
    margin: 20px 0 0;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 5px auto;
    width: 260px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgb(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s;
}
.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 10px;
} 
.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 10px;
    object-fit: cover;
}
#attract .card .card_title p {
    text-align: center;
    font-family: 'Poppins';
    font-size: 15px;
    margin-top: -50px;
    height: 40px;
    color: rgb(180, 180, 180);
}
.card:hover {
    transform: scale(0.95, 0.95);
}



/* 
====== Facility Section ======
*/
#facility ul {
    margin: 10px 30px;
    list-style: circle inside;
}
#facility ul li {
    font-size: 22px;
    font-family: 'Poppins';
    color: rgb(100, 100, 100);
}
@media (max-width: 768px) {
    #facility ul li {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    #facility ul {
        margin: 10px 15px;
    }
    #facility ul li {
        font-size: 15px;
    }
}



/* 
====== Location Section ======
*/
.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 100%;
    border: 1px solid black;
}


/* 
====== Gallery Section ======
*/
.gallery-image {
    font-family: 'Poppins';
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }



/* 
====== Footer ======
*/
footer {
    margin: -10px 0 0;
    padding: 20px 0 35px;
    width: 100%;
    height: max-content;

    background: rgb(50, 50, 50);
    text-align: center;
    font-family: 'Poppins';

    color: white;
}
footer a {
    color: rgb(69, 69, 230);
}
footer p {
    margin: 18px 0;
}